In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('kz_small.csv', delimiter='|')
df.head()

,timestamp,order_id,category_id,brand,price,user_id,category,product
0,2020-04-24 11:50:39,2294359932054536986,2268105426648170900,samsung,162.01,1515915625441993984,electronics,tablet
1,2020-04-24 11:50:39,2294359932054536986,2268105426648170900,samsung,162.01,1515915625441993984,electronics,tablet
2,2020-04-24 14:37:43,2294444024058086220,2268105430162997728,huawei,77.52,1515915625447879434,electronics,headphone
3,2020-04-24 14:37:43,2294444024058086220,2268105430162997728,huawei,77.52,1515915625447879434,electronics,headphone
4,2020-04-26 08:45:57,2295716521449619559,2268105442636858090,maestro,39.33,1515915625450382722,furniture,table

In [22]:
#
df.to_json('kz_output.txt', orient='records', lines=True)